/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

.alert {
  color: red;
}

.notice {
  color: green;
}

.flex {
  display: flex;
  gap: 0.5rem;
}

.items-center {
  align-items: center;
}

.avatar {
  border-radius: calc(infinity * 1px);
  height: 1rem;
  width: 1rem;
}

.size-6 {
  height: 1rem;
  width: 1rem;
}

/* spinner */

.spinner_OSmW{
 transform-origin:center;
 animation:spinner_T6mA .75s step-end infinite
}

@keyframes spinner_T6mA{
  8.3%  {
    transform:rotate(30deg)
  }
  16.6% {
    transform:rotate(60deg)
  }
  25% {
    transform:rotate(90deg)
  }
  33.3%{
    transform:rotate(120deg)
  }
  41.6%{
    transform:rotate(150deg)
  }
  50%{
    transform:rotate(180deg)
  }
  58.3%{
    transform:rotate(210deg)
  }
  66.6%{
    transform:rotate(240deg)
  }
  75%{
    transform:rotate(270deg)
  }
  83.3%{
    transform:rotate(300deg)
  }
  91.6%{
    transform:rotate(330deg)
  }
  100%{
    transform:rotate(360deg)
  }
}

/* view transition */

html[data-turbo-visit-direction="forward"]::view-transition-old(root) {
  animation: slide-out 0.25s;
}

html[data-turbo-visit-direction="forward"]::view-transition-new(root) {
  animation: slide-in 0.25s;
}

@keyframes slide-in {
  0% {transform: translateX(-100%);}
  100% {transform: translateX(0%);}
}

@keyframes slide-out {
  0% {transform: translateX(0%);}
  100% {transform: translateX(+100%);}
}

.hovercard {
  position: relative;

  turbo-frame {
    display: none;

    position: absolute;
    left: 0;
    bottom: 50%;
    width: 300px;
  }

  &:hover {
    turbo-frame {
      display: block;
    }
  }
}